@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* Josh Comeau's Custom CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* CSS variables */
:root {
  /* colors */
  --clr-black: hsl(0, 0%, 8%);
  --clr-green: hsl(153, 71%, 59%);
  --clr-dark_gray: hsl(0, 0%, 14%);
  --clr-light_gray: hsl(0, 0%, 85%);
  --clr-white: hsl(0, 0%, 100%);

  /* font family */
  --ff-headings: 'Space Grotesk', sans-serif;
  --ff-body: 'Space Grotesk', sans-serif;

  /* font sizes */
  --fs-heading_xl: 88px;
  --fs-heading_l: 49px;
  --fs-heading_m: 24px;
  --fs-paragraph: 18px;

  /* font weights */
  --fw-500: 500;
  --fw-700: 700;
}

/* reusable styles */
.d-flex {
  display: flex;
}

.undelined-text {
  position: relative;
  white-space: nowrap;
}

.undelined-text::after {
  content: '';
  height: 6px;
  width: 100%;
  background-color: var(--clr-green);
  position: absolute;
  bottom: 0;
  left: 0;
}

/* headings */
.heading_xl {
  font-family: var(--ff-headings);
  font-size: var(--fs-heading_xl);
  font-weight: var(--fw-700);
  line-height: 88px;
}

.heading_l {
  font-family: var(--ff-headings);
  font-size: var(--fs-heading_l);
  font-weight: var(--fw-700);
  line-height: 56px;
}

.heading_m {
  font-family: var(--ff-headings);
  font-size: var(--fs-heading_m);
  font-weight: var(--fw-700);
  line-height: 32px;
}

/* buttons */
.btn {
  border: none;
  color: inherit;
  background: transparent;

  font-size: 1rem;
  font-weight: var(--fw-700);
  text-transform: uppercase;

  border-bottom: 2px solid var(--clr-green);
  padding-bottom: 10px;

  cursor: pointer;
  transition: color 0.3s ease-in;
}

.btn:hover,
.btn:active {
  color: var(--clr-green);
}

/* containers */
.container {
  --max-width: 70rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* page styles */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--clr-white);
  font-family: var(--ff-body);
  font-size: var(--fs-paragraph);
  background-color: var(--clr-black);
}

/* header */
.header {
  margin-top: 2.4375rem;
  justify-content: space-between;
  align-items: center;
}

.header__main-logo {
  font-weight: var(--fw-700);
  font-size: 2rem;
  letter-spacing: -0.44px;

  color: inherit;
  text-decoration: none;
}

.header__logos {
  gap: 2rem;
}

/* hero */
.hero {
  padding-block: 127px 323px;
}

.hero__heading {
  max-width: 14ch;
  margin-bottom: 43px;
}

.hero__sub-heading {
  max-width: 39ch;
  margin-bottom: 66px;
}

/* experience */
.experience {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px 58px;

  padding-top: 72px;
  border-top: 1px solid var(--clr-white);
  margin-bottom: 140px;
}

.experience__title {
  margin-bottom: 14px;
}

/* projects */
.projects__header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 69px 30px;
}

.project__titles,
.tags {
  text-transform: uppercase;
}

.project__titles {
  margin-block: 20px 7px;
}

.tags {
  font-size: var(--fs-paragraph);
}

.img-wrapper {
  position: relative;
}

.img-wrapper::after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease-in;
}

.img-wrapper:hover::after {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.links-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.project__links {
  font-style: 1rem;
  text-decoration: none;
  color: inherit;
  font-weight: var(--fw-700);
  text-transform: uppercase;

  display: block;
  width: fit-content;
  margin-inline: auto;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in, color 0.3s ease-in;
}

.img-wrapper:hover .project__links {
  opacity: 1;
}

.project__links:not(:last-child) {
  margin-bottom: 48px;
}

.project__links::after {
  content: '';
  background-color: var(--clr-green);
  position: absolute;
  height: 2px;
  width: 100%;
  top: 2.2rem;
  left: 0;
}

.project__links:hover {
  color: var(--clr-green);
}
